.shop {
    display: grid;
    grid-template-columns: 800px 800px 800px;
    justify-content: center;
}

.sword-card {
    height: 800px;
    width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sword-image {
    height: 70%;
    width: 100%;
    cursor: pointer;
}

.sword-image img {
    height: 100%;
    width: 100%;
}

.add-to-cart-button {
    background-color:#f77829;
    padding: 10px;
    font-family: payzant;
    font-size: 20px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
}

.add-to-cart-button:hover {
    background-color: #5c645c;
}